.intro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000; /* Schwarzer Hintergrund */
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1000;
}

.intro video {
    width: 80%; /* Ändere die Breite des Videos */
    height: auto; /* Behalte das Seitenverhältnis bei */
}

.static {
    opacity: 1; /* Ensure video remains visible when static */
}

.hidden {
    display: none;
}

#mainContent {
    display: none;
}

/* Neue CSS-Regeln für das Outro */
.fade-out {
    animation: fadeOut 3s forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}